.imgHome {
    width: 100vw;
    height: 120vh;
}

.c-f {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-image: url(../imagenes/Footer.png);
    background-repeat: no-repeat;
    background-size: 100vw 150vh;
}

.c-f h1{
    margin: 40px 0px ;
}

.contenedorTarjetas{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.paginainicio{
    background-image: url(../imagenes/logoGrande.png);
    background-repeat: no-repeat;
    background-position: 10vw 5vh;
    background-size: 70%;
}